{{ if .IsHome }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": {{ site.Title }},
  "url": {{ site.Home.Permalink }},
  "description": {{ site.Params.description | plainify | truncate 180 | safeHTML }},
  "logo": {{ site.Params.assets.favicon | default "favicon.ico" | absURL }},
  "sameAs": [
    {{ range $i, $e := site.Params.socialIcons }}{{ if $i }}, {{ end }}{{ trim $e.url " " | safeURL }}{{ end }}
  ]
}
</script>

{{- else if (or .IsPage .IsSection) }}
{{/* BreadcrumbList */}}
{{- $url := replace .Parent.Permalink ( printf "%s" site.Home.Permalink) "" }}
{{- $lang_url := strings.TrimPrefix ( printf "%s/" .Lang) $url }}
{{- $bc_list := (split $lang_url "/")}}
{{- $scratch := newScratch }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
  {{- range $index, $element := $bc_list }}
    {{- $scratch.Add "path" (printf "%s/" $element ) | safeJS }}
    {{- $bc_pg := site.GetPage ($scratch.Get "path") -}}
    {{- if (and ($bc_pg) (gt (len . ) 0))}}
    {{- if (and $index)}}, {{end }}
    {
      "@type": "ListItem",
      "position": {{ add 1 $index }},
      "name": {{ $bc_pg.Name }},
      "item": {{ $bc_pg.Permalink | safeHTML }}
    }
    {{- end }}
  {{- end }}
  {{- if (ge (len $bc_list) 2) }}, {{end }}
    {
      "@type": "ListItem",
      "position": {{len $bc_list}},
      "name": {{ .Name }},
      "item": {{ .Permalink | safeHTML }}
    }
  ]
}
</script>

{{- if .IsPage }}
{{/* Use TechArticle for Orange Book, BlogPosting for everything else */}}
{{- $schemaType := "BlogPosting" }}
{{- if eq .Section "orange-book" }}
  {{- $schemaType = "TechArticle" }}
{{- end }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": {{ $schemaType }},
  "headline": {{ .Title | plainify }},
  "name": {{ .Title | plainify }},
  "description": {{ with .Description | plainify }}{{ . }}{{ else }}{{ .Summary | plainify }}{{ end }},
  "keywords": [
    {{- if .Params.keywords }}
    {{ range $i, $e := .Params.keywords }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}
    {{- else }}
    {{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}
    {{- end }}
  ],
  "wordCount": "{{ .WordCount }}",
  "inLanguage": {{ .Language.Lang | default "en-us" }},
  {{- if .Params.cover.image }}
  "image": {{ if (ne .Params.cover.relative true) }}{{ .Params.cover.image | absURL }}{{ else }}{{ (path.Join .RelPermalink .Params.cover.image) | absURL }}{{ end }},
  {{- else }}
  "image": {{ site.Params.assets.og_image | default "/images/og-default.png" | absURL }},
  {{- end }}
  "datePublished": {{ .PublishDate }},
  "dateModified": {{ .Lastmod }},
  "author": {
    "@type": "Person",
    "name": {{ with .Params.author }}{{ . }}{{ else }}{{ site.Params.author }}{{ end }}
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ .Permalink | safeHTML }}
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ site.Title }},
    "logo": {
      "@type": "ImageObject",
      "url": {{ site.Params.assets.favicon | default "favicon.ico" | absURL }}
    }
  }
}
</script>
{{- end }}
{{- end }}